.drawer-menu {
  display: none;
  width: 75%;
  max-width: 432px;

  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  overflow: auto;

  background-color: white;
  border-right: var(--light-border);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.drawer-menu--visible {
  display: block;
  left: 0;
}

.drawer-menu--right {
  left: auto;
  right: -100%;
}

.drawer-menu--visible.drawer-menu--right {
  left: auto;
  right: 0;
}
