.toast {
  position: fixed;
  bottom: var(--gutter);
  right: 10%;
  z-index: 100;
  
  width: 80%;
  height: 40px;
  padding: var(--gutter);
  
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--border-radius);

  background-color: var(--color-dark-gray);
  font-size: var(--font-3);
  color: var(--color-dark-white);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);

  transition: right ease-in-out .3s;
}

.toast--hidden {
  right: -100%;
}
