@import '~antd/dist/antd.css';

body {
  --small-gutter: 8px;
  --gutter: 16px;
  --large-gutter: 32px;

  --border-radius: 5px;
  --border-radius-large: 8px;

  --color-red: #f14545;
  --color-blue: #1ac0c6;
  --color-yellow: #ffd671;
  --color-dark-white: #f9f9f9;
  --color-light-gray: #e6e6e6;
  --color-gray: #a4a4a4;
  --color-dark-gray: #737373;

  --color-error: var(--color-red);
  --color-success: var(--color-blue);

  --font-1: 20px;
  --font-2: 16px;
  --font-3: 14px;
  --font-4: 11px;

  --focused-border: 1px solid var(--color-blue);
  --error-border: 1px solid var(--color-red);
  --light-border: 1px solid var(--color-light-gray);
  --shadow: 0 0 15px rgba(0, 0, 0, 0.5);

  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  line-height: 1.5rem;
}

button:focus {
  outline: none;
}

.--flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.--flex-column {
  display: flex;
  flex-direction: column;
}

.input__error-message {
  display: inline-block;
  margin-top: 3px;
  color: var(--color-red);
  font-size: var(--font-4);
}

.modal-open {
  overflow: hidden;
}